<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.bsalazar.secretcafe">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@mipmap/secret_icon_app"
        android:label="@string/secret_cafe_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        tools:replace="android:allowBackup,android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--ADD & UPDATE ACTIVITIES-->
        <activity
            android:name=".app.drinks.admin_drink.AddUpdateDrinkActivity"
            android:label="@string/title_activity_create_drink"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".app.meals.admin_meal.AddUpdateMealActivity"
            android:label="@string/title_activity_create_meal"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".app.events.admin_event.AddUpdateEventActivity"
            android:label="@string/title_activity_create_event"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".app.offers.admin_offers.AddUpdateOfferActivity"
            android:label="@string/title_activity_create_offer"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme" />

        <!--SOCIAL ACTIVITIES-->
        <activity
            android:name=".app.about.WhoWeAreActivity"
            android:label="@string/title_activity_who_we_are"
            android:theme="@style/AppTheme" />

        <activity android:name=".app.about.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--DETAIL ACTICITIES-->
        <activity
            android:name=".app.drinks.detail.DrinkDetailActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".app.meals.detail.MealDetailActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".app.events.detail.EventDetailActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".app.offers.detail.OfferDetailActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".app.discounts.detail.DiscountDetailActivity"
            android:theme="@style/AppTheme.Transparent"/>

        <!--SCANNER ACTIVITY-->
        <activity
            android:name=".app.scanner.ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme"/>

        <!--DISCOUNTS ACTIVITY-->
        <activity
            android:name=".app.discounts.DiscountsActivity"
            android:label="@string/title_activity_discounts"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".app.draw.DrawActivity"
            android:label="@string/title_activity_draw"
            android:theme="@style/AppTheme"/>

        <service android:name=".app.services.GeofenceService"/>
        <service android:name=".app.services.NotificationsService"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4qJrLSXJKKIvxAEwNbgQyxZhuF3-WvN8" />
    </application>

</manifest>